@media only screen and (max-width: 576px){
    .box-num:nth-child(n+3) img {
        margin: 0 0 20px;
        border-top: 10px solid #FFB900;
    } 
    
    .titulo-principal{
        font-size: 22px;
    }

    .logo-top{
        width: 50%;
    }

    .recuo{
        margin-top: 150px;
    }

    .texto-ico{
        font-size: 16px;
    }

    .descricao{
        font-size: 12px;
    }

    .busca-cep{
        width: 80%;
    }

    .texto-cadastro{
        font-size: 25px;
    }
    .busca-cadastro{
        border-radius: 25px;
        height: 50px;
    }
}